package pages

import "sandbox/views/layouts"

type DashboardUsersPageProps struct {
	CurrentUrl string
}

templ DashboardUsersPage(props DashboardUsersPageProps) {
	@layouts.DashboardLayout("Users", props.CurrentUrl) {
		<h1>Welcome to the users page</h1>
	}
}
