package pages

import (
	"sandbox/views"
	"sandbox/views/components"
)

type ForgotPasswordPageProps struct {
	Errors *components.ForgotPasswordFormFields
	Values *components.ForgotPasswordFormFields
}

templ ForgotPasswordPage(props ForgotPasswordPageProps) {
	@views.AuthLayout("Forgot Password") {
		@components.ForgotPasswordForm(components.ForgotPasswordFormProps{
			Errors: props.Errors,
			Values: props.Values,
		})
	}
}
