package pages

import (
	"app/views/components"
	"app/views/layouts"
)

type ForgotPasswordPageProps struct {
	Errors *components.ForgotPasswordFormFields
	Values *components.ForgotPasswordFormFields
}

templ ForgotPasswordPage(props ForgotPasswordPageProps) {
	@layouts.AuthLayout("Forgot Password") {
		@components.ForgotPasswordForm(components.ForgotPasswordFormProps{
			Errors: props.Errors,
			Values: props.Values,
		})
	}
}
