package pages

import (
	"sandbox/views"
	"sandbox/views/components"
)

templ ForgotPasswordPage() {
	@views.AuthLayout("Forgot Password") {
		@components.ForgotPasswordForm(components.ForgotPasswordFormProps{})
	}
}
