package pages

import (
	"sandbox/views"
	"sandbox/views/components"
)

type HomePageProps struct {
	IsLoggedIn     bool
	FlashedMessage *string
}

templ HomePage(props HomePageProps) {
	@views.BaseLayout("Home") {
		@components.Navbar(components.NavbarProps{IsLoggedIn: props.IsLoggedIn})
		if props.FlashedMessage != nil {
			<div class="container mx-auto px-4 pt-4">
				@components.MessageBox(*props.FlashedMessage)
			</div>
		}
	}
}
