package pages

import (
	"app/views/components"
	"app/views/layouts"
)

type HomePageProps struct {
	IsLoggedIn     bool
	FlashedMessage *components.Message
}

templ HomePage(props HomePageProps) {
	@layouts.BaseLayout("Home") {
		@components.Navbar(components.NavbarProps{IsLoggedIn: props.IsLoggedIn})
		if props.FlashedMessage != nil {
			<div class="container mx-auto px-4 pt-4">
				@components.MessageBox(*props.FlashedMessage)
			</div>
		}
	}
}
