package pages

import (
	"sandbox/views/components"
	"sandbox/views/layouts"
)

type LoginPageProps struct {
	Message *components.Message
}

templ LoginPage(props *LoginPageProps) {
	@layouts.AuthLayout("Login") {
		@components.LoginForm(components.LoginFormProps{
			Message: props.Message,
		})
	}
}
