package pages

import (
	"sandbox/views"
	"sandbox/views/components"
)

type LoginPageProps struct {
	Message *string
}

templ LoginPage(props *LoginPageProps) {
	@views.AuthLayout("Login") {
		@components.LoginForm(components.LoginFormProps{
			Message: props.Message,
		})
	}
}
