package pages

import (
	"app/views/components"
	"app/views/layouts"
)

type LoginPageProps struct {
	Message *components.Message
}

templ LoginPage(props *LoginPageProps) {
	@layouts.AuthLayout("Login") {
		@components.LoginForm(components.LoginFormProps{
			Message: props.Message,
		})
	}
}
