package pages

import (
	"app/views/components"
	"app/views/layouts"
)

templ RegisterPage() {
	@layouts.AuthLayout("Create account") {
		@components.RegisterForm(components.RegisterFormProps{})
	}
}
